{% extends 'base.html' %}
{% load static %}

{% block navbar %}

<ul class="main-nav nav navbar-nav">
</ul>
{% endblock%}
{%  block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<section class="py-5">
	<div class="container px-4 px-lg-5 my-5" dir="rtl">
		<div class="row text-center">
			<div class="col-md-5">
				<img class="card-img-top mb-5 mb-md-0" id="mainImage" src="{{ product.image.url }}"
					 alt="image"/>
				<div class="row mt-3 justify-content-center">
					{% for image in images %}
						<div class="col-3 mb-3" data-cro-id="pdp-album-open">
							<img class="img-fluid rounded-5" src="{{ image.image.url }}"
								 alt=image" width="100%" height="auto"
								 onclick="changeImage(this.src)"
							/>

						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-5 text-end">
				<h1 class="display-5 fw-bolder text-center">{{ product.name }}</h1>
				<div class="fs-2 my-4 text-left">
					<h3 class="text-black-50"><b>Price</b> : {{ product.price_discount }}$</h3>
					<h4 class="text-secondary"><b>Detail</b> : {{ product.description }}</h4>
					<h2 class="text-muted"><b>Inventory</b> : {{ product.inventory }}</h2>
					<h3 class="text-info"><b>Color</b> : {{ product.color }}</h3>
				</div>
				
				<div class=" mt-4">
					<form action="" method="post">
						{% csrf_token %}
						{{ add_to_cart_form }}
						{#                        <button class="btn" type="submit"> اضافه کردن به سبد خرید</button>#}
						<div class="add-to-cart text-center">
							<button class="add-to-cart-btn btn btn-outline-danger "><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>

</section>

<!-- Related items section-->
{% comment %} <section class="py-5 bg-light">
	<div class="container px-4 px-lg-5 mt-5">
		<h2 class="fw-bolder mb-4">محصولات مشابه</h2>
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			{% for item in similar_item %}
				<div class="col mb-5">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" src={{ item.main_image.url }} alt="..."/>
						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder">{{ item.item_name }}</h5>
								<!-- Product reviews-->
								{% comment %} <div class="d-flex justify-content-center small text-warning mb-2">
								<div class="bi-star-fill"></div>
								<div class="bi-star-fill"></div>
								<div class="bi-star-fill"></div>
								<div class="bi-star-fill"></div>
								<div class="bi-star-fill"></div>
							</div> {% endcomment %}
								{% comment %} <!-- Product price-->
								{{ item.price }}
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center"><a class="btn btn-outline-dark mt-auto"
														href="{% url 'cafemenu:item_detail' slug=item.slug %}">اضافه
								کردن به سبد خرید</a></div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div> 
</section>{% endcomment %}
		<!-- /SECTION -->
					<!-- /shop -->

					

					<!-- shop -->
					{% comment %} <div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
                                <img src="{% static "img/shop02.png" %}" alt="shop">
							</div>
							<div class="shop-body">
								<h3>Cameras<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div> {% endcomment %}
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		

		

		

		

{% endblock %}