{% extends 'base.html' %}
{% block content %}
    {% include 'messages.html' %}
        <img src="{{ request.user.image.url }}" class='img-circle' alt="Cinque Terre" width="304" height="236">
    <div class="col-md-2 col-md-offset-4">
   	<form action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
					{{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-success mt-10">
                    <a href="{% url 'account:profile' %}" class="btn btn-warning"> Cancle </a>
    </form>
            </div>
{% endblock %}